#meus-filmes{
    display:flex;
    width:100%;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
@media screen and (max-width: 600px) {
    #meus-filmes{
       flex-direction:column;
        
    }
    ul li{
        padding: 10px;
        width: 100%;
        padding: 0;
        list-style: none;
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 10px;
        
       
  }
}

ul{
    padding:0;
}

ul li{
    width: 100%;
    padding: 0;
    list-style: none;
    min-width: 600px;
    display: flex;
    align-items:center;
    justify-content: space-between;
    margin-bottom:10px
}

span{
    font-size:23px
}

button{
    margin-left: 10px;
    cursor: pointer;
}

ul li div a{
    text-decoration: none
}